<div class="container-search">
    <div class="input-search">
        <input (keyup.enter)="searchCharacter()" #txtSearch type="text" class="form-control"
            placeholder="Search Character...">
        <button (click)="searchCharacter()">Press</button>
    </div>
    <div *ngIf="results[0] === 'Empty Search'">
        <h3>Character Not Found</h3>
    </div>
    <div class="container-results" *ngIf="results.length > 0 && results[0] !== 'Empty Search'">
        <div *ngFor="let item of results" >
            <div class="card">
                <img src={{item.image}} [alt]="item.character">
                <div class="card-body">
                    <h3>{{item.character}}</h3>
                    <p>{{item.quote}}</p>
                </div>
            </div>
        </div>
    </div>
</div>