
.container-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    
    
    justify-content: space-around;

    .container-card {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-top: 5px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        text-align: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        height: 100%;

        img {
            width: 100%;

            object-fit: cover;
        }

        p {
            font-size: 15px;
        }

    }
}